@import "tailwindcss";
@plugin "daisyui";

.active {
  text-decoration: underline #c1c0bf;
  /* color: #efb00e;  */
  font-weight: 500;

}

/* theme daisyUI */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, aqua;
}